.container {
    background-color: white;
    width: 240px;
    height: 80px;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px;
    /* flex-flow: column; */
    filter: drop-shadow(10px 10px 10px #2424);
}
.iconContainer {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 20px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
}
.icon {
    color: var(--white);
}
.textContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
}
.topText {
    color: var(--secondaryColor);
    font-size: 15px;
}
.priceText {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondaryColor);
}