.container {
    flex: 1;
    /* background-color: var(--white); */
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background: rgb(221,231,251);
    background: rgb(238,243,251);
background: -moz-linear-gradient(180deg, rgba(238,243,251,1) 0%, rgba(231,255,253,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(238,243,251,1) 0%, rgba(231,255,253,1) 100%);
background: linear-gradient(180deg, rgba(238,243,251,1) 0%, rgba(231,255,253,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eef3fb",endColorstr="#e7fffd",GradientType=1);
}
.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.headerContainer {
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.graphContainer {
    display: flex;
    flex-direction: row;   
}
.transactionsContainer {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: center;
}