.popupList {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: var(--primaryColor);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: 0%;
    margin-left: -80px;
}
.popup {
    padding-left: 10px;
}
.popupItem {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.popupItem:hover {
    cursor: pointer;
    background-color: var(--primaryColorLight);
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
  }