.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 110px;
    height: 900px;
}
.iconContainer {
    border-radius: 50%;
    padding: 15px;
    margin: 15px;
    display: flex;
}
.iconContainer:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
}
.iconContainer:hover > .sidebarIcon {   
    color: var(--primaryColorDark);
    background-color: var(--primaryColorD);
}
.activeIconContainer {
    border-radius: 50%;
    padding: 15px;
    margin: 15px;
    display: flex;
    background-color: var(--primaryColor);
}
.sidebarIcon {
    color: var(--primaryColor);
}
.activeIcon {
    color: var(--primaryColorDark);
    background-color: var(--primaryColor);
}