.container {
    border-radius: 50px;
    margin: 50px;
    width: 400px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(140,62,179);
    background: -moz-linear-gradient(150deg, rgba(140,62,179,1) 0%, rgba(153,134,231,1) 50%, rgba(172,145,234,1) 100%);
    background: -webkit-linear-gradient(150deg, rgba(140,62,179,1) 0%, rgba(153,134,231,1) 50%, rgba(172,145,234,1) 100%);
    background: linear-gradient(150deg, rgba(140,62,179,1) 0%, rgba(153,134,231,1) 50%, rgba(172,145,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8c3eb3",endColorstr="#ac91ea",GradientType=1);
    filter: drop-shadow(10px 10px 10px #2424);
}
.title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primaryColor);
}