.container {
    border-radius: 60px;
    padding-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.logo {
    margin-left: 25px;
   max-width: 50px;
   max-height: 50px;
}
.sideItemsContainer {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.searchbarForm {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 50px;
    border: 3px solid var(--primaryColor);
}
.searchIcon {
    padding-right: 15px;
    color: var(--primaryColor);
}
.searchbar {
    height: 50px;
    border-radius: 50px;
    border: 0px;
    font-size: 16px;
    font-weight: 100;
    background: transparent;
    color: var(--primaryColor);
    width:100%;
    box-sizing: border-box;
}
.searchbar::placeholder {
    color: var(--primaryColor);
}
.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profileImage {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    margin-right: 20px;
}
.profileDetails {
    color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.profileName {
    font-size: 20px;
}
.profileIcon {
    color: var(--primaryColor);
    margin-left: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownIcon {
    color: var(--primaryColor);
    margin-left: 20px;
}
.dropdownIcon:hover {
    cursor: pointer;
}