.navbar {
    background: var(--black);    
    border-radius: 60px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.logo {
    padding: 35px;
    color: aliceblue;
}
.side-items-container {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.searchbar-form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 50px;
    border: 3px solid var(--white);
}
.search-icon {
    padding-right: 15px;
    color: var(--white);
}
.searchbar {
    height: 50px;
    border-radius: 50px;
    border: 0px;
    font-size: 16px;
    font-weight: 100;
    background: transparent;
    color: var(--white);
    width:100%;
    box-sizing: border-box;
}
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-image {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    margin-right: 20px;
}
.profile-details {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.profile-name {
    font-size: 20px;
}
.profile-icon {
    color: var(--white);
    margin-left: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-icon {
    color: var(--white);
    margin-left: 20px;
}
.dropdown-icon:hover {
    cursor: pointer;
}
.popup-list {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #555;
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: 0%;
    margin-left: -80px;
}
.popup {
    padding-left: 10px;
}
.popup-item {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.popup-item:hover {
    cursor: pointer;
    background-color: aqua;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
  }