:root {
  --black: #222222;
  --grey: #636262;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:default, input:focus, textarea:focus, select:focus{
  outline: none;
}

input {
  font-weight: 200;
}
